<div class="mainBar"> 
    <app-header></app-header>
<div class="navBar">
    <div class="buy1">
        <small class="navLink">Buy</small>
        <div class="hiddenDiv">

        </div>
       <div class="displayDropdown">
        <div class="dropDownBuy">
            <div>
                <Small class="head">Popular Choices</Small> <br>
                <div class="line"></div>
                <a class="listLinks">In Your Budget</a> <br>
                <a class="listLinks">Premuim Homes</a> <br>
                <a class="listLinks">New Project</a> <br>
                <a class="listLinks">In Your Budget</a> <br>
                <a class="listLinks">Ready to Move</a>
            </div>
            <div class="second_category">
                <Small class="head">Budget</Small> <br>
                <div class="line"></div>
                <a class="listLinks">Under ₹ 50 lac</a> <br>
                <a class="listLinks">₹ 50 lac. - ₹ 1Cr.</a> <br>
                <a class="listLinks">₹ 1 Cr. - ₹ 1.5 Cr.</a> <br>
                <a class="listLinks">above ₹ 1.5 Cr.</a> <br>
            </div>
        </div>
       </div>
    </div>
<!-- Sell -->
    <div class="buy">
        <small class="navLink">Rent</small>
        <div class="hiddenDiv">

        </div>
       <div class="displayDropdown">
        <div class="dropDownBuy">
            <div>
                <Small class="head">Popular Choices</Small> <br>
                <div class="line"></div>
                <a class="listLinks">Owner Properties</a> <br>
                <a class="listLinks">Furnished Homes</a> <br>
                <a class="listLinks">Bachelor Friendly</a> <br>
            </div>
            <div class="second_category">
                <Small class="head">Budget</Small> <br>
                <div class="line"></div>
                <a class="listLinks">Under ₹ 10,000</a> <br>
                <a class="listLinks">₹ 10,000. - ₹ 15,000</a> <br>
                <a class="listLinks">₹ 15,000 - ₹ 20,000</a> <br>
                <a class="listLinks">above ₹ 20,000</a> <br>
            </div>
            
        </div>
       </div>
    </div>
    <!-- Rent -->
    <div class="buy">
        <small class="navLink">Sell</small>
        <div class="hiddenDiv">

        </div>
       <div class="displayDropdown">
        <div class="dropDownBuy">
            <div >
                <Small class="head">Popular Choices</Small> <br>
                <div class="line"></div>
                <a class="listLinks">My DashBoard</a> <br>
                <a class="listLinks">Post Property Adv.</a> <br>
                
            </div>
            <div class="second_category">
                <Small class="head">For Agent and Builders</Small> <br>
                <div class="line"></div>
                <a class="listLinks">My DashBoard</a> <br>
                <a class="listLinks">Add Property</a> <br>
            </div>
            
        </div>
       </div>
    </div>

    <!-- Property Service -->
    <div class="buy">
        <small class="navLink">Property Services</small>
        <div class="hiddenDiv">

        </div>
       <div class="displayDropdown">
        <div class="dropDownBuy">
            <div>
                <Small class="head">Home Services</Small> <br>
                <div class="line"></div>
                <a class="listLinks">Movers and Packers</a> <br>
                <a class="listLinks">Interior Designers</a> <br>
                <a class="listLinks">Painters</a> <br>
                <a class="listLinks">Plumber</a> <br>
                <a class="listLinks">Elctricians</a>
                <a class="listLinks">Tiles Fitters</a>
                
            </div>
            <div class="second_category">
                <Small class="head"></Small> <br>
                <div class="line"></div>
                <a class="listLinks">Wallpapers Fitters</a> <br>
                <a class="listLinks">Furnishing</a> <br>
              
            </div>
            
        </div>
       </div>
    </div>
   <!-- help  -->
   <div class="buy">
    <small class="navLink">Help</small>
    <div class="hiddenDiv">

    </div>
   <div class="displayDropdown">
    <div class="help_drop_down">
        <div>
            <Small class="head"></Small> <br>
            <div class="line"></div>
            <a class="listLinks">Help Center</a> <br>
            <a class="listLinks">Email Us</a> <br>
        </div>
    </div>
   </div>
</div>
</div>

</div>