<div class="line">

</div>
<div class="previous_search">
    <small class="since_searched">since you have searched Hinjewadi.....</small>
</div>
<div class="container_engagement">
    <div class="box1">
        <div class="label"><small>
            Top Buy Properties
        </small></div>
        <div class="search_button">
            <button class="btn search_button1" (click)="navigateToViewSearched('buy')">
                <div class="img1">
                    <img class="imges" src="..\assets\images\img1.jpg" alt="img">
                </div>
                <div class="ontopBTN">
                   <small class="labelling"> Less than &#8377;70 Lac
                   
                   </small>
                   <small class="labelling2">3 Bhk</small>
                </div>
            </button>
        
        </div>   
    </div>
    <div class="box2">
        <div class="label"><small>
            Top Rented Properties
        </small></div>
        <div class="search_button">
            <button class="btn search_button1" (click)="navigateToViewSearched('Rent')">
                <div class="img1">
                    <img class="imges" src="..\assets\images\img2.jpg" alt="img">
                </div>
                <div class="ontopBTN">
                   <small class="labelling"> Less than &#8377;30000
                   
                   </small>
                   <small class="labelling2">2 Bhk</small>
                </div>
            </button>
        
        </div>   
    </div>
    <div class="box2">
        <div class="label"><small>
            Top PGs
        </small></div>
        <div class="search_button">
            <button class="btn search_button1" (click)="navigateToViewSearched('PG')">
                <div class="img1">
                    <img class="imges" src="..\assets\images\imgs3.jpg" alt="img">
                </div>
                <div class="ontopBTN">
                   <small class="labelling"> Less than &#8377;15000
                   
                   </small>
                   <small class="labelling2">For Boys And Girls</small>
                </div>
            </button>
        
        </div>   
    </div>
</div>
<div class="line">

</div>