
<div class="profile-details">

    <div class="box-container">
        <div class="profile_details">
            <small class="details">Profile Details</small>
            
        </div>
        <div class="line"></div>
          <div class="table-box">
            <table class="table">
                
                <tr>
                    <th>Name:</th>
                    <td>{{userAgent.userAgentName}}</td>
                </tr>
            
            
                <tr>
                    <th>Email:</th>
                    <td>{{userAgent.userAgentEmail}}</td>
                    
                </tr>
                <tr>
                    <th>Contact:</th>
                    <td>{{userAgent.userAgentContact}}</td>
                    
                </tr>
                <tr>
                    <th>Password: </th>
                    <td>**********</td>
                </tr>
           
        </table>
          </div>
    </div>
    
    </div>
    