
<div class="bar">
    <div class="features">
        <a class="links" routerLink="/userAgent/user-dashboard/profile">Profile Details</a>
        <a class="links" routerLink="/userAgent/user-dashboard/updateprofile">Update Profile details</a>
        <a class="links" routerLink="/userAgent/user-dashboard/addproperties">Add Property</a>
        <a class="links" routerLink="/userAgent/user-dashboard/enquiry">Enquiry box</a>
        <a class="links" routerLink="/userAgent/user-dashboard/view-properties-listed">Your Listed Properties</a>
    </div>
    
    <!-- <table class="table">
        
        <tbody>
            <tr>
                <td><a class="links" routerLink="/userAgent/user-dashboard/profile">Profile Details</a></td>
            </tr>
            <tr>
                <td><a class="links" routerLink="/userAgent/user-dashboard/updateprofile">Update Profile details</a></td>
            </tr>
            <tr>
                <td><a class="links" routerLink="/userAgent/user-dashboard/addproperties">Add Property</a></td>
            </tr>
            <tr>
                <td><a class="links" routerLink="/userAgent/user-dashboard/enquiry">Enquiry box</a></td>
            </tr>
        </tbody>
    </table> -->
   
</div>