<div class="main-properties-box" (scroll)="changeheight()" #scroll>
   
    <div class="results">
        <div class="r1">
            <small class="resnm">Results: &nbsp;{{service.filteredPropertiesList.length}} |  Properties for {{choice}} In Pune.... <span style="color: red;">{{comparisonMsg}}</span></small>
        </div>
    </div>

 <div class="ResultsForRB" *ngIf="!showPGResults">
    <div class="form-search" *ngIf="fromSearch" >
        <div class="showSearched_Filters" *ngIf="service.filteredPropertiesList">
            <button class="btn prop-btn" *ngFor="let p of service.filteredPropertiesList;let i=index" (click)="navigateToPropertyDetails(p,p.userAgent1ID,p.userAgent2ID)">
                <div class="main-box-botn" >
                    <div class="images" >
                            <img [src]="'data:image;base64,'+p?.propertyImages[currentImageIndex]?.image" alt="image">
                    </div>
                    <div class="main-data-price">
                        <div class="data">
                                <div class="name">
                                    <div class="cont">
                                           <div class="nmDiv">
                                            <small class="nm">{{p.flatBHK}} Flat for {{p.forSaleOrRentString}} in {{p.propertyLocality}}, Pune</small> 
                                           </div>
                                         
                                            <div *ngIf="showFavorite" >
                                               <div >
                                                <a class="favorite"  #fav (click)="onFavorite($event, p,i)" >
                                                    <i class="fa" [ngClass]="{ 'fa-heart': p.isFavorite, 'fa-heart-o': !p.isFavorite }" aria-hidden="true"></i>
                                                </a>
                                               </div>
                                             </div>

                                    </div>
                                    
                                </div>
                                <div class="societNM">
                                    <small class="society">{{p.societyName}}</small> 
                                </div>
                                <div class="dataC">
                                    <div class="details">
                                            <div class="first-row">
                                                <div class="area">
                                                    <small id="label">CARPET AREA</small>
                                                    <small id="value">{{p.carpetArea}} sqft</small>
                                                </div>
                                                
                                                <div class="area2">
                                                    <small id="label">CONSTRUCTION PHASE</small>
                                                    <small id="value">{{p.constructionPhase}}</small>
                                                </div>
                                                <div class="area2">
                                                    <small id="label">FURNISHING</small>
                                                    <small id="value">{{p.furnishing}}</small>
                                                </div>
                                                <div class="area2">
                                                    <small id="label">SOCIETY</small>
                                                    <small id="value">{{p.societyName}}</small>
                                                </div>
                                            </div>
                                    </div>
                                     <div class="descript">
                                        <div class="info-disc">
                                            <small class="desc"  [ngClass]="{'hidden': showMore}">
                                               {{p.description}}
                                            </small>
                                        </div>
                                        
                                        <div class="dropInfo">
                                            <a (click)="toggleDescription()">
                                                <i class="fa fa-sort-asc" aria-hidden="true" *ngIf="!showMore"></i>
                                                <i class="fa fa-sort-desc" aria-hidden="true" *ngIf="showMore"></i>
                                            </a>
                                        </div>
                                     </div>
                                </div>
                        </div>
                        <div class="price">
                            <div class="priceRS">
                                <button class="btn buttonPrice">Get Info</button>
                            </div>
                            
                            <div class="priceRS">
                                <small class="rs">&#x20B9; {{formatPrice(p.price)}}</small>
                            </div>
                        </div>
                    </div>
                </div>
                
            </button>
           </div>  
     </div>   
       
     <!-- from compare -->
     
     <div class="form-compare" *ngIf="fromCompare">
        <div class="showSearched_Filters" *ngIf="service.filteredPropertiesList">
            <button class="btn prop-btn" *ngFor="let p of service.filteredPropertiesList; let i=index" (click)="navigateToCompare(p,p.propertyRentAndBuyId)">
                <div class="main-box-botn" >
                    <div class="images" >
                            <img [src]="'data:image;base64,'+p.propertyImages[currentImageIndex].image" alt="image">
                    </div>
                    <div class="main-data-price">
                        <div class="data">
                                <div class="name">
                                    <div class="cont">
                                           <div class="nmDiv">
                                            <small class="nm">{{p.flatBHK}} Flat for {{p.forSaleOrRentString}} in {{p.propertyLocality}}, Pune</small> 
                                           </div>
                                         <div>
                                            <a class="favorite" #fav (click)="onFavorite($event, p,i)"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                                         </div>
                                    </div>
                                    
                                </div>
                                <div class="societNM">
                                    <small class="society">{{p.societyName}}</small> 
                                </div>
                                <div class="dataC">
                                    <div class="details">
                                            <div class="first-row">
                                                <div class="area">
                                                    <small id="label">CARPET AREA</small>
                                                    <small id="value">{{p.carpetArea}} sqft</small>
                                                </div>
                                                
                                                <div class="area2">
                                                    <small id="label">CONSTRUCTION PHASE</small>
                                                    <small id="value">{{p.constructionPhase}}</small>
                                                </div>
                                                <div class="area2">
                                                    <small id="label">FURNISHING</small>
                                                    <small id="value">{{p.furnishing}}</small>
                                                </div>
                                                <div class="area2">
                                                    <small id="label">SOCIETY</small>
                                                    <small id="value">{{p.societyName}}</small>
                                                </div>
                                            </div>
                                    </div>
                                     <div class="descript">
                                        <div class="info-disc">
                                            <small class="desc"  [ngClass]="{'hidden': showMore}">
                                               {{p.description}}
                                            </small>
                                        </div>
                                        
                                        <div class="dropInfo">
                                            <a (click)="toggleDescription()">
                                                <i class="fa fa-sort-asc" aria-hidden="true" *ngIf="!showMore"></i>
                                                <i class="fa fa-sort-desc" aria-hidden="true" *ngIf="showMore"></i>
                                            </a>
                                        </div>
                                     </div>
                                </div>
                        </div>
                        <div class="price">
                            <div class="priceRS">
                                <button class="btn buttonPrice">Get Info</button>
                            </div>
                            
                            <div class="priceRS">
                                <small class="rs">&#x20B9; {{formatPrice(p.price)}}</small>
                            </div>
                        </div>
                    </div>
                </div>
                
            </button>
           </div>  
     </div> 

 </div>  

 <div class="ResultsForPG" *ngIf="showPGResults">
   
    <div class="form-search" *ngIf="fromSearch" >
        <div class="showSearched_Filters" *ngIf="service.filteredPropertiesList">
            <button class="btn prop-btn" *ngFor="let p of service.filteredPropertiesList" (click)="navigateToViewRoomsOfPG(p.propertyPGID)">
                <div class="main-box-botn" >
                    <div class="images" >
                        <img [src]="'data:image;base64,'+p?. sharingRooms[currentImagePGIndex]?.propertyImages[currentImagePGIndex]?.image" alt="image">
                </div>
                    <div class="main-data-price">
                        <div class="data">
                                <div class="name">
                                    <div class="cont">
                                           <div class="nmDiv">
                                            <small class="nm">{{p.propertyPGName}} in {{p.locality}}, Pune</small> 
                                           </div>
                                         
                                    </div>
                                    
                                </div>
                                <div class="societNM">
                                    <small class="society">{{p.societyName}}</small> 
                                </div>
                                <div class="dataC">
                                    <div class="details">
                                            <div class="first-row">
                                                <div class="area">
                                                    <small id="label">FOOD AVAILABILITY</small>
                                                    <small id="value">{{p.foodAvailability}}</small>
                                                </div>
                                                <div class="area2">
                                                    <small id="label">POWER BACKUP</small>
                                                    <small id="value">{{p.powerBackup}}</small>
                                                </div>
                                                <div class="area2">
                                                    <small id="label">AVAILABLE FOR</small>
                                                    <small id="value">{{p.availableFor}}</small>
                                                </div>
                                                <div class="area2">
                                                    <small id="label">PARKING</small>
                                                    <small id="value">{{p.parking}}</small>
                                                </div>
                                            </div>
                                    </div>
                                     <div class="descript">
                                        <div class="info-disc">
                                            <small class="desc"  [ngClass]="{'hidden': showMore}">
                                               {{p.description}}
                                            </small>
                                        </div>
                                        
                                        <div class="dropInfo">
                                            <a (click)="toggleDescription()">
                                                <i class="fa fa-sort-asc" aria-hidden="true" *ngIf="!showMore"></i>
                                                <i class="fa fa-sort-desc" aria-hidden="true" *ngIf="showMore"></i>
                                            </a>
                                        </div>
                                     </div>
                                </div>
                        </div>
                        <div class="price">
                            <div class="priceRS">
                                <button class="btn buttonPrice">Get Info</button>
                            </div>
                            
                            <div class="priceRS">
                                <small class="rs">&#x20B9; {{formatPrice(p.onePersonRent)}} <small class="perbed">/bed</small> </small>
                            </div>
                        </div>
                    </div>
                </div>
                
            </button>
           </div>  
     </div>  
 </div>
</div>